<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= currentuser.displayName%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




    <script type="text/javascript">
    
    function doEnable()
    {


        document.getElementById("save").disabled=false;
        
    }
    function showphoto(file) {
        document.getElementById('imageis').value= (file.value.substr(file.value.lastIndexOf('\\')+1,file.value.length));
    if (file.files && file.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
        $('#img').attr('src', e.target.result);
       
    }
    reader.readAsDataURL(file.files[0]);
    document.getElementById("save").disabled=false;

    }

}
    
    
    </script>
    
    
    <style>
        #box{
            width:650px;
            height:600px;
            margin-left: 100px;
            margin-top: 30px;
            margin-bottom: 30px;
            border: 1px black solid;
            padding: 20px 20px 20px 20px;
        }
        #editicon{
            margin-right: 5px;
            margin-top: 5px;
            float: right;
            float: top;
        }
        #controls
        {
            float: right;
            float: top;
            margin-top: 5px;
            margin-right: 5px;
        }
    </style>
    </head>
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <div class="logo" style="position: absolute; left: 50px; top: 10px;">
        <a href="/"><img src="/assets/img/logo/logo.png" alt=""></a>
    </div>
      <main>

                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                
                            </div>
                        
             
        
  
     <br>
                            
        <div id=box>
            <br>
            
            <h4 class="widget_title" style="color: #2d2d2d;">User Details</h4>
            <br>
            <%if( currentuser.GoogleId!=''){ console.log("google user");%>
            <form action="/users/profile/<%=currentuser.id%>/edit" method="POST">
            <%}else{ console.log("non google user");%>
                <form action="/users/profile/<%=currentuser._id%>/edit" method="POST">
            <%}%>
               <div id=controls>
                <br><div id="editicon">
                    <input class="btn btn-success"  type="submit" id="save" name="save" value="Save" disabled="true">
                </div>
                <br><br><div id="editicon">
                    <input class="btn btn-danger"  type="submit" id='delete' name='delete' value="Delete My Account">
            </div>
            <br><br><div id="editicon">
                <input class="btn btn-secondary"  type="submit" value="Cancel">
            </div>
            </div>
                <table>   
                    <tr>
                        <td style="padding-right: 10%;"><label for="#username">Username:</label></td>
                        <td style="padding-left: 5%;">
                            <div class="form-group">
                                <p><%= currentuser.username%></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="#firstname">First Name:</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder='<%= currentuser.firstname%>' value='<%= currentuser.firstname%>' onclick="doEnable();" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="#lastname">Last Name:</label></td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder='<%= currentuser.lastname%>' value='<%= currentuser.lastname%>'  onclick="doEnable();" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="#mobile">Mobile:</label></td>
                        <td>
                            <div class="form-group">
                                <input type="tel"  class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter Mobile'" value="<%= currentuser.mobileno%>" name="mobileno" minlength="10" maxlength="10" onclick="doEnable();">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="#userphoto">User Photo:</label></td>
                       <td>
                           <input type="text" class="form-control" name="imageis" id="imageis" value="<%=currentuser.userphoto%>" readonly>
                       </td>
                        <td>    
                            <div class="form-group">
                                <% if(currentuser.userphoto==''){%>
                                <input type="file" class="form-control" id="userphoto" name="userphoto" onchange="showphoto(this);" >
                                <%}else{%>
                                    <div style="margin-left: 20px; margin-top: 5px; padding-left: 5px; padding-right: 5px; padding-top: 4px; border: 1px black solid; color:darkslategray; height: 30px; width: 63px;">
                                    <input type="file"  id="userphoto" name="userphoto" class="hidden" onchange="showphoto(this);" accept="image/*" >
                                    <label for="userphoto">Change</label>
                                    </div>
                                <%}%>
                            </div>
                        </td>
                        
                        
                    </tr>               
                </table>
                
                <a href='<%=currentuser.userphoto%>'>
                     <img src= "/<%=currentuser.userphoto%>" id="img" height="200" width="200"> </a>  
                    
                
                                 
              
                     
            </form>
           

            <br>
            <br>
            <br>           
        </div>
          </div>
    </main>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="/assets/img/gallery/section_bg02.png">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="/"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Useful Links</h4>
                                    <ul>
                                        
                                        <li><a href="#">Policy</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Instagram -->
                      
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <span>Follow Us</span>
                            
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                               
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
	
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    
    <!-- Nice-select, sticky -->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/mail-script.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
    
    </body>
</html>